.App{
    background-color: #F8F8F8;
}
.App-header{
    background-color: #4A90E2;
    margin:0;
    padding:0;
    padding-top:25px;
    color:white;
}
.App-header h1{
    margin: 0;
    padding:0;
}